@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Ubuntu", serif;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block !important;
}
ul {
  list-style: none;
}
img {
  vertical-align: middle;
}
/* nav part start */
.nav_logo a {
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}
.nav_logo span {
  color: #fd6e0a;
}
.nav_menu ul li a {
  font-size: 20px;
  font-weight: normal;
  color: #474747 !important;
  padding: 18px 50px 18px 0 !important;
}
.nav_menu ul li a.active {
  color: #fd6e0a !important;
}
.nav_menu ul li:last-child a {
  padding: 18px 36px !important;
  background-color: #fd6e0a;
  font-weight: bold;
  color: #fff !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.nav_menu ul li:last-child a.active {
  color: #474747 !important;
}
/* nav part end */

/* banner part start */
#banner {
  padding: 297px 0 184px;
  background-color: #faf3e0;
  position: relative;
}
.ban_main {
  z-index: 2;
}
.ban_main h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  padding-bottom: 5px;
}
.ban_main h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 20px;
}
.ban_main p {
  font-size: 18px;
  font-weight: normal;
  color: #757575;
  padding-bottom: 30px;
  padding-right: 150px;
}
.ban_main i {
  color: #fd6e0a;
  padding-right: 30px;
}
.ban_body {
  padding-top: 30px;
}
.ban_body a {
  font-size: 20px;
  font-weight: bold;
  color: #fd6e0a;
  margin-right: 30px;
  padding: 18px 24px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.ban_body i {
  padding-right: 10px;
  padding-bottom: 0;
}
.ban_body a:hover {
  background-color: #fd6e0a;
  color: #fff;
}
.ban_body a:hover i {
  color: #fff;
}
.ban_img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.ban_back {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* banner part end */

/* about part start */
#about {
  padding: 130px 0;
}
.about_main {
  background-color: #f5e6ca;
  padding: 131px 0;
}
.about_main h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.about_main p {
  font-size: 18px;
  font-weight: normal;
  color: #757575;
  padding: 30px 10px;
}
.about_me p {
  font-size: 20px;
  font-weight: normal;
  color: #757575;
  padding: 0;
}
.about_me h6 {
  font-size: 20px;
  font-weight: bold;
  color: #474747;
}
/* about part end */

/* skill part start */
#skill {
  padding-bottom: 130px;
}
.skill_head h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 30px;
}
.skill_head p {
  font-size: 18px;
  font-weight: normal;
  color: #757575;
  padding: 0 80px 50px 80px;
}
.skill_body {
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(250, 243, 224, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(250, 243, 224, 1);
  box-shadow: 0px 0px 10px 0px rgba(250, 243, 224, 1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.skill_body img {
  padding-bottom: 30px;
  padding-right: 10px;
}
.skill_body h4 {
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 20px;
}
.skill_body ul {
  list-style: disc;
  padding-left: 16px;
}
.skill_body ul li {
  font-size: 16px;
  font-weight: normal;
  color: #757575;
  padding-bottom: 5px;
}

/* do part end  */

/* resume part start */
#resume {
  padding-bottom: 130px;
}
.res_header h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 113px;
}
.res_head h3 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 30px;
}
.res_body {
  position: relative;
  margin-bottom: 30px;
}
.res_body::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: 0;
  width: 90%;
  border-bottom: 1px solid #d1d1d1;
}

.res_btm::after {
  border: none;
}

.res_body h4 {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  padding-bottom: 10px;
}
.res_body h5 {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  padding-bottom: 20px;
}
.res_body p {
  font-size: 16px;
  font-weight: normal;
  color: #757575;
  padding-right: 151px;
  padding-bottom: 30px;
}
.res_stat h3 {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  padding-bottom: 30px;
}
.res_stats {
  margin-bottom: 24px;
}
.res_stats h5 {
  font-size: 20px;
  font-weight: 600;
  color: #474747;
}
.res_stats h6 {
  font-size: 20px;
  font-weight: 600;
  color: #a3a3a3;
}
.progess_bar_web {
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: 10px;
  border-radius: 30px;
  background-color: #f3f3f3;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.progess_bar_web:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 30px;
  height: 100%;
  width: 85%;
  background-color: #fd6e0a;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.progess_bar_react {
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: 10px;
  border-radius: 30px;
  background-color: #f3f3f3;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.progess_bar_react:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 30px;
  height: 100%;
  width: 70%;
  background-color: #fd6e0a;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.progess_bar_html {
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: 10px;
  border-radius: 30px;
  background-color: #f3f3f3;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.progess_bar_html:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 30px;
  height: 100%;
  width: 95%;
  background-color: #fd6e0a;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.progess_bar_a {
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: 10px;
  border-radius: 30px;
  background-color: #f3f3f3;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.progess_bar_a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 30px;
  height: 100%;
  width: 60%;
  background-color: #fd6e0a;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.progess_bar_js {
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: 10px;
  border-radius: 30px;
  background-color: #f3f3f3;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-bottom: 20px;
}
.progess_bar_js:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 30px;
  height: 100%;
  width: 80%;
  background-color: #fd6e0a;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.progess_bar_b {
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: 10px;
  border-radius: 30px;
  background-color: #f3f3f3;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.progess_bar_b:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-radius: 30px;
  height: 100%;
  width: 99%;
  background-color: #fd6e0a;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.soft_skill h5 {
  font-size: 20px;
  font-weight: 600;
  color: #474747;
  padding-top: 10px;
}
.soft_skill h6 {
  font-size: 20px;
  font-weight: 600;
  color: #a3a3a3;
}
.teamwork {
  position: relative;
}
.teamwork .progress-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.team_skill {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.communication {
  position: relative;
}
.communication .progress-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.com_skill {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.Adaptation {
  position: relative;
}
.Adaptation .progress-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.adap_skill {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.Networking {
  position: relative;
}
.Networking .progress-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.net_skill {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.Problem_Solving {
  position: relative;
}
.Problem_Solving .progress-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.prob_skill {
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 80%;
  transform: translatex(-80%);
  -webkit-transform: translatex(-80%);
  -moz-transform: translatex(-80%);
  -ms-transform: translatex(-80%);
  -o-transform: translatex(-80%);
}
/* .Time_Management {
  position: relative;
}
.Time_Management .progress-bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}
.time_skill {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
} */

.teamwork .progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#fd6e0a 75%, #f3f3f3 0);
}
.communication .progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#fd6e0a 60%, #f3f3f3 0);
}
.Adaptation .progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#fd6e0a 80%, #f3f3f3 0);
}
.Networking .progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#fd6e0a 80%, #f3f3f3 0);
}
.Problem_Solving .progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#fd6e0a 90%, #f3f3f3 0);
}
.Time_Management .progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#fd6e0a 75%, #f3f3f3 0);
}

.res_download a {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #fd6e0a;
  margin-right: 30px;
  padding: 18px 24px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.res_download i {
  padding-right: 10px;
}
.res_download a:hover {
  background-color: #fd6e0a;
  color: #fff;
}
/* resume part end */

/* projects part start */
#projects {
  padding-bottom: 130px;
}
.project_head h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 26px;
}
.project_img img {
  padding-top: 24px;
}
.pro01 {
  position: relative;
}
.pro01::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(33, 33, 33, 0), #000);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.pro01 a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 18px 38px;
  border-radius: 7px;
  background-color: #fd6e0a;
  color: #fff;
  z-index: 1;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.pro01:hover.pro01::after {
  height: 90%;
}
.pro01:hover a {
  opacity: 1;
}
/* projects part end */

/* volunteer part start */
#volunteer {
  padding-bottom: 130px;
}
.volunteer_head h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 50px;
}
.volunteer_body h3 {
  font-size: 20px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 10px;
}
.volunteer_body h6 {
  font-size: 20px;
  font-weight: bold;
  color: #474747;
  padding-bottom: 10px;
}
.volunteer_body ul {
  list-style: disc;
  margin-left: -12px;
}
.volunteer_body ul li {
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 5px;
}
.volu_mdl {
  padding: 24px 0;
}
/* volunteer part end */

/* contact part start */
#contact {
  padding: 130px 0;
  background-color: #faf3e0;
}
.con_txt h2,
.con_form h2 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 20px;
}
.con_txt p {
  font-size: 16px;
  font-weight: normal;
  color: #474747;
  padding-bottom: 30px;
  padding-right: 60px;
}
.con_txt i {
  color: #fd6e0a;
  padding-right: 24px;
}
.con_form input {
  width: 100%;
  padding: 18px 30px;
  border-radius: 5px;
  border-style: none;
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: normal;
  color: #757575;
  margin-bottom: 24px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.con_form textarea {
  width: 100%;
  height: 180px;
  padding: 18px 30px;
  border-radius: 5px;
  border-style: none;
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: normal;
  color: #757575;
  margin-bottom: 24px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.con_form button {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 18px 38px;
  background-color: #fd6e0a;
  border-style: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* contact part end */

/* footer part start */
#footer {
  height: 50px;
}
.footer p {
  font-size: 18px;
  font-weight: 600;
  color: #181818;
  line-height: 50px;
}

/* footer part end */
